*{
	font-family: "Verdana", sans-serif;
}
body{
	padding-top: 34px;
	background: url(img/congruent_outline.png);
}

h1{
	color: white;
}
h2{
	text-align: center;
}
p{	
	padding: .5em;
	text-align: justify;
}

.nav-bar{
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;
	width: 100%;
	background: #333;	
}

/*LOGO*/
.pure-menu-heading{
	color: #f3f3f3;
	text-transform: inherit;
}

.pure-menu-item > .pure-menu-link{
	color: #f3f3f3;

}
.pure-menu-link:hover, .pure-menu-link:active, .pure-menu-link:focus{
	background: #565d64;

}

.div-right{
	text-align: right;
}
.splash-container{
	overflow: hidden;
	width: 100%;
	height: 80vh;
  	background: url(img/temporary-landing-background.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	  -ms-flex-direction: column;
	      flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	  -ms-flex-pack: center;
	      justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	  -ms-flex-align: center;
	      align-items: center;
	text-align: center;

}

.splash {
	font-size: 150%;
	color: #f3f3f3;	
	font-weight: 100;
}
.splash > h1{
	border: 3px solid #f3f3f3;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 1em 1.5em;
	margin-bottom: 0;
}
.splash > .subtitle{
	background:#f3f3f3; 
	color:#216265;
	padding: 15px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

}


/*CONTENT*/
/*News*/
.pub-date{
	margin: 0;
	margin-left: 1em;
	padding: 0;
	list-style: none;
}
.pub-date > .month, .num-day{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.2em;
}
.num-day{
	font-size: 1.8em;
 }

/*JOBS*/
.article{
	margin-bottom: 1em;
}
p, h3, .tags{
	margin:0;
	padding: 0 16px 0 16px;
}
.tags{
	margin-bottom: 1em;
}

.main-content{	
	margin: 0 auto;
	background: #f3f3f3;
	max-width: 1104px;
}

.column-title{
	color: #216265;
}


div > a{
	color: #888;
}

i{
	color: #216265;
}
.imgs{
	
	background: url(https://38.media.tumblr.com/651dfaed378e9a1f780f50cad8ef7ed1/tumblr_mkneytF4mQ1rsdpaso1_500.gif) no-repeat;
	margin: 0 auto;
	width: 90%;
	height: 300px;
	background-position: center;
}

footer {
    
}



